  body {
      padding: 0px 0px;
      margin: 0px;
  }
  
  main {
    background-size: cover;                 
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: #5BBA96;
    height: 900px;
    text-align: center;
  }

  .firstu {
      color: white;
      border-bottom: 2px solid black;
      text-decoration: none !important;
  }
  
  h1 {
    height: 38px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-align: center;
    color: #1f233e;
    padding-top: 40px;
  }
  
  .container {
    width: 400px;
    margin: auto;
    text-align: center;
  }
  
  #input {
    width: 219px;
    height: 37px;
    border-radius: 3.2px;
    border: solid 0.8px #1f233e;
    background-color: inherit;
    display: block;
    margin: auto;
    font-family: Source Sans Pro;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000;
  }
  
  #shorten {
    width: 91px;
    height: 37px;
    border-radius: 3.2px;
    border: solid 0.8px #1f233e;
    background-color: inherit;
    margin-top: 48px;
    font-family: Source Sans Pro;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
    color: black;
    margin-right: -3px;
  }
  
  #shorten:hover {
    background-color: black;
    border: solid 0.8px #4a4a4a;
    color: white;
    cursor: pointer;
  }
  
  #shorten:active {
    background-color: black;
    border: solid 0.8px #4a4a4a;
    color: white;
    cursor: pointer;
  }
  
  #responseField {
    min-width: 191px;
    min-height: 120px;
    border: solid 1px #000;
    margin: auto;
    border-radius: 10px;
    margin-top: 25px;
    font-family: Source Sans Pro;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #000;
    overflow: auto;
  }

  #adnInfo {
    text-align: center;
  }
  